In [13]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [14]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN", "NAME"], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 156
application_type_value_counts = application_df["APPLICATION_TYPE"].value_counts()
application_types_to_replace = list(application_type_value_counts[application_type_value_counts <= cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [16]:
classification_values = application_df["CLASSIFICATION"].value_counts()
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 777
classifications_to_replace = list(classification_values[classification_values <= cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [17]:
# print(application_df.nunique())

In [7]:
# print(application_df["STATUS"].value_counts())

1    34294
0        5
Name: STATUS, dtype: int64

In [8]:
# print(application_df["SPECIAL_CONSIDERATIONS"].value_counts())

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [9]:
# application_df.drop(['STATUS', "SPECIAL_CONSIDERATIONS"], axis=1, inplace=True)
# application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [10]:
# print(application_df["AFFILIATION"].value_counts())

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [11]:
# # Choose a cutoff value and create a list of affiliation types to be replaced

# cutoff = 64
# aff_value_counts = application_df['AFFILIATION'].value_counts()
# aff_to_replace = list(aff_value_counts[aff_value_counts <= cutoff].index)

# # Replace in dataframe
# for aff in aff_to_replace:
#     application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")

# # Check to make sure binning was successful
# application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [18]:
X_dummies = pd.get_dummies(application_df)
X_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [19]:
# Split our preprocessed data into our features and target arrays
X = X_dummies.drop('IS_SUCCESSFUL',axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

#Attempt 1: Changing Nodes, Layers, and Activations

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
node1 =  100
node2 = 40
node3 = 20

nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(tf.keras.layers.Dense(node1, activation="relu", input_dim=input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=node2, activation="sigmoid"))
# third hidden layer
nn.add(tf.keras.layers.Dense(units=node3, activation="sigmoid"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 40)                4040

 dense_2 (Dense)             (None, 20)                820

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 9,281
Trainable params: 9,281
Non-trainable params: 0
_________________________________________________________________

In [23]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5798 - accuracy: 0.7149
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7295
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7303
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7312
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7327
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7323
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7325
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7337
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5457 - accuracy: 0.7332
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5455 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5448 - accuracy: 0.7339
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7344
Epoch 16/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5445 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7345
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7341
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7349
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7349
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7354
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7365
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7363
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7362
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7359
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7378
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7370
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7371
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7366
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7358
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7373
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7373
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7385
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5377 - accuracy: 0.7375
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7375
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7379
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7381
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7388
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7381
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7384
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7376
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7393
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7387
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7383
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7383
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7383
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7394
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7382
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7383
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7390
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5349 - accuracy: 0.7394
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7396
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7401
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7393
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7388
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7387
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7394
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7399
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7398
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7397
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7390
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7406
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7408
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7403
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7397
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5325 - accuracy: 0.7399
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7399
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7393
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7399
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7401

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5674 - accuracy: 0.7278 - 545ms/epoch - 2ms/step
Loss: 0.5673794150352478, Accuracy: 0.7278134226799011

#Attempt 2: Changing Nodes and Activations

In [35]:
input_features = len(X_train[0])
node1 =  100
node2 = 80
node3 = 30
node4 = 10

nn_new = tf.keras.models.Sequential()
# First hidden layer
nn_new.add(tf.keras.layers.Dense(node1, activation="relu", input_dim=input_features))
# Second hidden layer
nn_new.add(tf.keras.layers.Dense(units=node2, activation="relu", input_dim=input_features))
# third hidden layer
nn_new.add(tf.keras.layers.Dense(units=node3, activation="relu", input_dim=input_features))
# fourth hidden layer
nn_new.add(tf.keras.layers.Dense(units=node4, activation="relu", input_dim=input_features))
# Output layer
nn_new.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn_new.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 100)               4400

 dense_14 (Dense)            (None, 80)                8080

 dense_15 (Dense)            (None, 30)                2430

 dense_16 (Dense)            (None, 10)                310

 dense_17 (Dense)            (None, 1)                 11

=================================================================
Total params: 15,231
Trainable params: 15,231
Non-trainable params: 0
_________________________________________________________________

In [36]:
nn_new.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [37]:
fit_model = nn_new.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 2ms/step - loss: 0.5704 - accuracy: 0.7207
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7302
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7306
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7326
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7325
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7332
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7337
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7343
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7345
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7352
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5437 - accuracy: 0.7345
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7352
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7362
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7362
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7366
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7368
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7370
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7375
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5395 - accuracy: 0.7376
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5398 - accuracy: 0.7371
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7383
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7380
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7370
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7380
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7379
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7383
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7374
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7386
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7388
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7398
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7398
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7394
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7396
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 53/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7386
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7392
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7393
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7392
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5348 - accuracy: 0.7396
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7404
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7396
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7398
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7390
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7395
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7389
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7409
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7404
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7396
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7404
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7393
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7403
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7397
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7393
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7405
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7399
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7397
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7402
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7386
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7387
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7395
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5321 - accuracy: 0.7403
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5320 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7402
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5324 - accuracy: 0.7402
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7394

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5674 - accuracy: 0.7278 - 698ms/epoch - 3ms/step
Loss: 0.5673794150352478, Accuracy: 0.7278134226799011

# Attempt 3: Processing changes

In [76]:
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [77]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 156
application_type_value_counts = application_df["APPLICATION_TYPE"].value_counts()
application_types_to_replace = list(application_type_value_counts[application_type_value_counts <= cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [78]:
classification_values = application_df["CLASSIFICATION"].value_counts()
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 777
classifications_to_replace = list(classification_values[classification_values <= cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [79]:
print(application_df.nunique())

EIN                       34299
NAME                      19568
APPLICATION_TYPE              9
AFFILIATION                   6
CLASSIFICATION                6
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [80]:
print(application_df["NAME"].value_counts() )

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [81]:
name_values = application_df["NAME"].value_counts()
name_value_counts = name_values[name_values > 10]
name_value_counts

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
USA SWIMMING INC                                                            11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
Name: NAME, Length: 204, dtype: int64

In [82]:
cutoff = 10
name_to_replace = list(name_values[name_values <= cutoff].index)

# Replace in dataframe
for name in name_to_replace :
  application_df['NAME'] = application_df['NAME'].replace(name,"Other")
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                     21202
PARENT BOOSTER USA INC                                                     1260
TOPS CLUB INC                                                               765
UNITED STATES BOWLING CONGRESS INC                                          700
WASHINGTON STATE UNIVERSITY                                                 492
                                                                          ...
AMERICAN POSTAL WORKERS UNION                                                11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER       11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                     11
FINANCIAL PLANNING ASSOCIATION                                               11
SLOW FOOD U S A INC                                                          11
Name: NAME, Length: 205, dtype: int64

In [83]:
application_df.drop(["EIN"], axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [84]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [85]:
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [86]:
application_df.drop(["SPECIAL_CONSIDERATIONS", "STATUS"], axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [87]:
X_dummies = pd.get_dummies(application_df)
len(X_dummies.columns)

246

In [88]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = X_dummies.drop('IS_SUCCESSFUL',axis=1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [89]:
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
len(X_train_scaled[0])

245

In [90]:
input_features = len(X_train_scaled[0])
nodes1 = 100
nodes2 = 30 
nodes3 = 20
nodes4 = 1

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=nodes1, activation="relu", input_dim=input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=nodes2, activation="relu", input_dim=input_features))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=nodes3, activation="relu", input_dim=input_features))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=nodes4, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 100)               24600

 dense_19 (Dense)            (None, 30)                3030

 dense_20 (Dense)            (None, 20)                620

 dense_21 (Dense)            (None, 1)                 21

=================================================================
Total params: 28,271
Trainable params: 28,271
Non-trainable params: 0
_________________________________________________________________

In [94]:
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [95]:
fit_model = nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 2ms/step - loss: 0.4791 - accuracy: 0.7691
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4453 - accuracy: 0.7835
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4404 - accuracy: 0.7863
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4396 - accuracy: 0.7863
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4376 - accuracy: 0.7890
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4365 - accuracy: 0.7883
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4356 - accuracy: 0.7891
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4346 - accuracy: 0.7906
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4340 - accuracy: 0.7898
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4330 - accuracy: 0.7906
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7919
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4316 - accuracy: 0.7911
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4315 - accuracy: 0.7917
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4304 - accuracy: 0.7920
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4300 - accuracy: 0.7928
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4296 - accuracy: 0.7924
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7928
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7940
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7936
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4278 - accuracy: 0.7939
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4281 - accuracy: 0.7938
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7953
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7944
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7937
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7939
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7956
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4253 - accuracy: 0.7947
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4252 - accuracy: 0.7954
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4246 - accuracy: 0.7958
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4240 - accuracy: 0.7959
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7963
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7954
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4233 - accuracy: 0.7967
Epoch 34/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4231 - accuracy: 0.7967
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7964
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4231 - accuracy: 0.7963
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7959
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4219 - accuracy: 0.7977
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7971
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4214 - accuracy: 0.7970
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4213 - accuracy: 0.7977
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4215 - accuracy: 0.7967
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4209 - accuracy: 0.7966
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7974
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7966
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.7968
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4198 - accuracy: 0.7981
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4200 - accuracy: 0.7975
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7990
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7977
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7977
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7978
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4197 - accuracy: 0.7980
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4194 - accuracy: 0.7979
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4189 - accuracy: 0.7978
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7981
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7982
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7977
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7980
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.7984
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4182 - accuracy: 0.7981
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4187 - accuracy: 0.7982
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7984
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7983
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7990
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4174 - accuracy: 0.7988
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7986
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4170 - accuracy: 0.7987
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4174 - accuracy: 0.7982
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7989
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7982
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7986
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7982
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4170 - accuracy: 0.7982
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.7986
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.7992
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7992
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7991
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7994
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4169 - accuracy: 0.7991
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4162 - accuracy: 0.7989
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.7989
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7991
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.7991
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.7985
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7992
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.7996
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4153 - accuracy: 0.7995
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4158 - accuracy: 0.7989
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7994
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7986
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4156 - accuracy: 0.7992
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4150 - accuracy: 0.7989
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.7997
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4157 - accuracy: 0.7985
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7991
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7988
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7995
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7992
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4146 - accuracy: 0.7992

In [97]:
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4971 - accuracy: 0.7795 - 1s/epoch - 5ms/step
Loss: 0.49707236886024475, Accuracy: 0.779475212097168

In [98]:
nn_model.save('AlphabetSoupCharity_Optimization.h5')